        .section {
            width: 100%;
            background-color: #a0a0a0;
        }
        
        .section-wrap{
            width: 1280px;
            margin: 0 auto;
            padding-top: 20px;
        }


        .instruction{
            background-color: #333;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            font-family: Tahoma, Arial, Sans-Serif;
            font-size: 16px;
            
        }
        .info {
            width: 1152px;
            margin: 0 auto;
            
        }

        .title-project {
            padding-bottom: 25px;
        }

        .info .title-project {
          font-size: 55px;
          padding-right: 50px;
          display: inline-block;

          
          
        }
        .cameras-nav .title {
            padding-right: 8px;
            font-size: 12px;

        }
            
        .cameras-nav{
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .cameras-nav .divide{
            padding: 30px;
        }
        .cameras-nav .active, .active a{
            color: #d4981f;
            border-color: #d4981f;
        }

        a {
            font-size: 16px;
            text-decoration: none;
            padding: 5px 10px 5px 10px;
            color: #fff;
            border: 1px solid;
            border-radius: 4px;
            margin: 5px;
        }
        a:hover{
            color: #d4981f;
        }

        a .gray{
            color: #777;
        }
        a .active {
           
        }


    #rotation{
        
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
    }
    #rotation img{
        width: 1280px;
        cursor: move;
    }
